<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../res/css/index.css">
    <script src="../../node_modules/jquery/dist/jquery.min.js"></script>
    <script src="../res/js/d3.v3.min.js"></script>
    <script src="../res/js/common.js"></script>
    <script src="../res/js/home.js"></script>
</head>
<body>
<div class="mywp-wrap">
    <div class="mywp-header clearfix">
        <div class="mywp-logo"><h1><a href="">明阳风电 MINGYANG WIND POWER</a></h1></div>
        <div class="site-menu">
            <div class="nav">
                <div class="overTop"></div>
                <div class="overBottom"></div>
                <a href="#" class="active">首页</a>
                <a href="./realTimeMonitoring.html">实时监测</a>
                <a href="#">综合分析</a>
                <a href="#">报表管理</a>
                <a href="#">故障告警</a>
                <a href="#">系统配置</a>
            </div>
            <div class="action">
                <a href="#"><span class="mywp-icon icon-admin"></span>您好，管理员</a>
            </div>
            <div class="exitSystem"><a href="#"><span class="mywp-icon icon-exit"></span></a></div>
        </div>
    </div>
    <div class="mywp-main clearfix">
        <div class="sub-nav" style="margin-left: -3.5rem">
            <a href="#" class="active"><span class="mywp-icon icon-ssgl"></span>实时功率</a>
            <a href="#"><span class="mywp-icon icon-ycgl"></span>预测功率</a>
            <a href="#"><span class="mywp-icon icon-ljnh"></span>累积能耗</a>
            <a href="#"><span class="mywp-icon icon-jnxy"></span>节能效益</a>
            <span class="sub-nav-toggle2" id="subToggle2"></span>
        </div>
        <div class="tmp2"></div>
        <div class="myinf">
            <h5>明阳智慧能源集团</h5>
            <ul>
                <li>所在地：<span>广东省中山市</span></li>
                <li>天气：<span>28度，阵雨</span></li>
                <li>经度：<span>113.442955</span></li>
                <li>纬度：<span>22561752</span></li>
            </ul>
            <ul>
                <li>配电总容量：<em>11111<span>KW</span></em></li>
                <li>实时功率：<em>88<span>kw</span></em></li>
                <li>无功功率：<em>113.442955<span>Kvar</span></em></li>
                <li>功率因素：<em>0.9</em></li>
                <li>日累计用电量：<em>22561752<span>kwh</span></em></li>
                <li>月累计用电量：<em>22561752<span>kwh</span></em></li>
            </ul>
            <span class="sub-nav-toggle2" id="subToggle"></span>
        </div>
        <div class="container">
            <div class="mywp-cf">
                <div id="build-tops">
                    <div class="mywp-modal" id="cftips">
                        <div class="mbgT"></div>
                        <div class="mbgB"></div>
                        <div class="mbgL"></div>
                        <div class="mbgR"></div>
                        <div class="mbgwg">
                            <h6>SCD车间</h6>
                            <div>
                                <span>实时功率 :</span>
                                <span>100 kw</span>
                            </div>
                            <div>
                                <span>实时功率 :</span>
                                <span>100 kw</span>
                            </div>
                            <div>
                                <span>实时功率 :</span>
                                <span>100 kw</span>
                            </div>
                            <div>
                                <span>实时功率 :</span>
                                <span>100 kw</span>
                            </div>
                            <div>
                                <span>实时功率 :</span>
                                <span>100 kw</span>
                            </div>

                        </div>
                    </div>
                    <svg id="build-inf" viewBox="0 0 988.3 559" width="9.9rem" height="5.59rem"></svg>
                    <div class="build1"></div>
                    <div class="build2"></div>
                    <div class="build3"></div>
                    <div class="build4"></div>
                    <div class="build5"></div>
                    <div class="build6"></div>
                    <div class="build7"></div>
                    <img src="../res/images/cf.png" alt=""></div>
            </div>
        </div>
    </div>
</div>

</body>
</html>