<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../res/css/index.css">
    <script src="../../node_modules/jquery/dist/jquery.min.js"></script>
    <script src="../res/js/common.js"></script>
    <script src="../res/js/index.js"></script>
    <style>
        .mywp-cf{
            position: relative;
        }
        #abc{

            margin-left: 1.52rem;
            margin-top:0.1rem;
            position: absolute;
        }
    </style>
</head>
<body>
<div class="mywp-wrap">
    <div class="mywp-header clearfix">
        <div class="mywp-logo"><h1><a href="">明阳风电 MINGYANG WIND POWER</a></h1></div>
        <div class="site-menu">
            <div class="nav">
                <div class="overTop"></div>
                <div class="overBottom"></div>
                <a href="#" class="active">首页</a>
                <a href="#">实时监测</a>
                <a href="#">综合分析</a>
                <a href="#">报表管理</a>
                <a href="#">故障告警</a>
                <a href="#">系统配置</a>
            </div>
            <div class="action">
                <a href="#"><span class="mywp-icon icon-admin"></span>您好，管理员</a>
            </div>
            <div class="exitSystem"><a href="#"><span class="mywp-icon icon-exit"></span></a></div>
        </div>
    </div>
    <div class="mywp-main clearfix">
        <div class="sub-nav">
            <a href="#" class="active"><span class="mywp-icon icon-ssgl"></span>实时功率</a>
            <a href="#"><span class="mywp-icon icon-ycgl"></span>预测功率</a>
            <a href="#"><span class="mywp-icon icon-ljnh"></span>累积能耗</a>
            <a href="#"><span class="mywp-icon icon-jnxy"></span>节能效益</a>
            <span class="sub-nav-toggle" id="subToggle"></span>
        </div>
        <div class="container">
            <div class="mywp-cf">
                <svg version="1.1" id="abc" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	  viewBox="0 0 988.3 559" width="9.9rem" height="5.59rem" xml:space="preserve">
<style type="text/css">
	.st0{fill-rule:evenodd;clip-rule:evenodd;fill:red;}
</style>
<path stroke="red" class="st0" d="M639,310l112,65l233-131v-56l6-5l-56-46l-63-22L633,252v2l6,1V310z"/>
<path stroke="red" class="st0" d="M577,95l72,42v6l56,32c0,0,14,6.8,22,6l4-2c0,0,17.8,0.8,34-8c16.2-8.8,43-25,43-25V92L648,1l-27,15v10l-44,25
	V95z"/>
<path stroke="red" class="st0" d="M330,495V393l44-27l43,26v9l16,10l10-6l31,19l18-10v-8l8-4l6,4l26-14l27,16v84l-116,67l-44-25l-1-25l-3-2
	l-21,11L330,495z"/>
<path stroke="red" class="st0" d="M548,457l32,20l96-55v-64l-8-4v-4l-11-7l-3,2l-10-5l-96,55V457z"/>
<path stroke="red" class="st0" d="M207,249v-15l93-50l1-11l29-17l184,106v41l5,5l-97,58l-67-40l-6,5L207,249z"/>
<path stroke="red" class="st0" d="M0,402l99,56c0,0,45.5,20.5,73,7l181-103l-4-4l-2-46l5-3l-145-74l-47,15l-41,35l-50,18l-44,33L0,349l4,2v46
	L0,402z"/>
</svg>
                <img src="../res/images/cf.png" alt=""></div>
           <!-- <div class="mywp-cfxt">
                <div class="cfxtImg">
                </div>
            </div>-->
        </div>
    </div>
</div>

</body>
</html>