<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../res/css/index.css">
    <script src="../../node_modules/jquery/dist/jquery.min.js"></script>
    <script src="../res/js/d3.v3.min.js"></script>
    <script src="../res/js/common.js"></script>
    <script src="../res/js/index.js"></script>
</head>
<body>
<div class="mywp-wrap">
    <div class="mywp-header clearfix">
        <div class="mywp-logo"><h1><a href="">明阳风电 MINGYANG WIND POWER</a></h1></div>
        <div class="site-menu">
            <div class="nav">
                <div class="overTop"></div>
                <div class="overBottom"></div>
                <a href="#" class="active">首页</a>
                <a href="./realTimeMonitoring.html">实时监测</a>
                <a href="#">综合分析</a>
                <a href="./reportManager.html">报表管理</a>
                <a href="#">故障告警</a>
                <a href="#">系统配置</a>
            </div>
            <div class="action">
                <a href="#"><span class="mywp-icon icon-admin"></span>您好，管理员</a>
            </div>
            <div class="exitSystem"><a href="#"><span class="mywp-icon icon-exit"></span></a></div>
        </div>
    </div>
    <div class="mywp-main clearfix">

        <div class="mywp-modal2">
            <div class="mbgT"></div>
            <div class="mbgB"></div>
            <div class="mbgL"></div>
            <div class="mbgR"></div>
            <div class="mbgwg">
                <div>
                    <span>实时功率 :</span>
                    <span>100 kw</span>
                </div>
                <div>
                    <span>实时功率 :</span>
                    <span>100 kw</span>
                </div>
                <div>
                    <span>实时功率 :</span>
                    <span>100 kw</span>
                </div>
                <div>
                    <span>实时功率 :</span>
                    <span>100 kw</span>
                </div>
                <div>
                    <span>实时功率 :</span>
                    <span>100 kw</span>
                </div>
                <div>
                    <span>实时功率 :</span>
                    <span>100 kw</span>
                </div>
                <div>
                    <span>实时功率 :</span>
                    <span>100 kw</span>
                </div>
                <div>
                    <span>实时功率 :</span>
                    <span>100 kw</span>
                </div>
                <div>
                    <span>实时功率 :</span>
                    <span>100 kw</span>
                </div>
                <div>
                    <span>实时功率 :</span>
                    <span>100 kw</span>
                </div>
                <div>
                    <span>实时功率 :</span>
                    <span>100 kw</span>
                </div>
                <div>
                    <span>实时功率 :</span>
                    <span>100 kw</span>
                </div>
                <div>
                    <span>实时功率 :</span>
                    <span>100 kw</span>
                </div>
                <div>
                    <span>实时功率 :</span>
                    <span>100 kw</span>
                </div>
                <div>
                    <span>实时功率 :</span>
                    <span>100 kw</span>
                </div>
            </div>
        </div>
        <div class="sub-nav">
            <a href="#" class="active"><span class="mywp-icon icon-ssgl"></span>实时功率</a>
            <a href="#"><span class="mywp-icon icon-ycgl"></span>预测功率</a>
            <a href="#"><span class="mywp-icon icon-ljnh"></span>累积能耗</a>
            <a href="#"><span class="mywp-icon icon-jnxy"></span>节能效益</a>
            <span class="sub-nav-toggle" id="subToggle"></span>
        </div>
        <div class="container">
            <div class="mywp-cf">
                <div id="build-tops">
                    <div class="mywp-modal" id="cftips">
                        <div class="mbgT"></div>
                        <div class="mbgB"></div>
                        <div class="mbgL"></div>
                        <div class="mbgR"></div>
                        <div class="mbgwg">
                            <h6>SCD车间</h6>
                            <div>
                                <span>实时功率 :</span>
                                <span>100 kw</span>
                            </div>
                            <div>
                                <span>实时功率 :</span>
                                <span>100 kw</span>
                            </div>
                            <div>
                                <span>实时功率 :</span>
                                <span>100 kw</span>
                            </div>
                            <div>
                                <span>实时功率 :</span>
                                <span>100 kw</span>
                            </div>
                            <div>
                                <span>实时功率 :</span>
                                <span>100 kw</span>
                            </div>

                        </div>
                    </div>
                    <svg id="build-inf" viewBox="0 0 988.3 559" width="9.9rem" height="5.59rem"></svg>
                    <div class="build1"></div>
                    <div class="build2"></div>
                    <div class="build3"></div>
                    <div class="build4"></div>
                    <div class="build5"></div>
                    <div class="build6"></div>
                    <div class="build7"></div>
                    <img src="../res/images/cf.png" alt=""></div>
            </div>

            <div class="mywp-cfxt scd">
                <div class="cfxtImg"></div>
                <div class="men"><div><img src="../res/images/m1.png" alt=""></div><div>主干道</div><div><img src="../res/images/m2.png" alt=""></div></div>
            </div>
        </div>
    </div>
</div>

</body>
</html>