<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../res/css/index.css">
    <script src="../../node_modules/jquery/dist/jquery.min.js"></script>
    <script src="../res/js/d3.v3.min.js"></script>
    <script src="../res/js/common.js"></script>
    <script src="../res/js/realTimeMonitoring.js"></script>
</head>
<body>
<div class="mywp-wrap">
    <div class="mywp-header clearfix">
        <div class="mywp-logo"><h1><a href="">明阳风电 MINGYANG WIND POWER</a></h1></div>
        <div class="site-menu">
            <div class="nav">
                <div class="overTop"></div>
                <div class="overBottom"></div>
                <a href="./index.html">首页</a>
                <a href="#" class="active">实时监测</a>
                <a href="#">综合分析</a>
                <a href="./reportManager.html">报表管理</a>
                <a href="#">故障告警</a>
                <a href="#">系统配置</a>
            </div>
            <div class="action">
                <a href="#"><span class="mywp-icon icon-admin"></span>您好，管理员</a>
            </div>
            <div class="exitSystem"><a href="#"><span class="mywp-icon icon-exit"></span></a></div>
        </div>
    </div>
    <div class="mywp-main clearfix">
        <div class="sub-nav"  style="margin-left: -3.5rem">
            <a href="#" class="active"><span class="mywp-icon icon-ssgl"></span>实时功率</a>
            <a href="#"><span class="mywp-icon icon-sxdy"></span>三项电压</a>
            <a href="#"><span class="mywp-icon icon-sxdl"></span>三项电流</a>
            <a href="#"><span class="mywp-icon icon-jlpl"></span>交流频率</a>
            <a href="#"><span class="mywp-icon icon-glys"></span>功率因数</a>
            <a href="#"><span class="mywp-icon icon-ssdl"></span>实时电量</a>
            <span class="sub-nav-toggle2" id="subToggle2"></span>
        </div>
        <div class="tmp2"></div>
        <div class="myinf">
            <h5>明阳智慧能源集团</h5>
            <ul>
                <li>所在地：<span>广东省中山市</span></li>
                <li>天气：<span>28度，阵雨</span></li>
                <li>经度：<span>113.442955</span></li>
                <li>纬度：<span>22561752</span></li>
            </ul>
            <ul>
                <li>配电总容量：<em>11111<span>KW</span></em></li>
                <li>实时功率：<em>88<span>kw</span></em></li>
                <li>无功功率：<em>113.442955<span>Kvar</span></em></li>
                <li>功率因素：<em>0.9</em></li>
                <li>日累计用电量：<em>22561752<span>kwh</span></em></li>
                <li>月累计用电量：<em>22561752<span>kwh</span></em></li>
            </ul>
            <span class="sub-nav-toggle2" id="subToggle"></span>
        </div>

        <div class="tmcfbox">
            <div class="container">
                <div class="mywp-cfxt scd">
                    <div class="cfxtImg"></div>
                    <div class="men"><div><img src="../res/images/m1.png" alt=""></div><div>主干道</div><div><img src="../res/images/m2.png" alt=""></div></div>
                </div>
            </div>
            <div class="tmcf">
                <img src="../res/images/cf.png" alt="">
            </div>
        </div>

    </div>
</div>

</body>
</html>