<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../res/css/index.css">
    <script src="../../node_modules/jquery/dist/jquery.min.js"></script>
    <script src="../res/js/d3.v3.min.js"></script>
    <script src="../res/js/common.js"></script>
    <script src="../res/js/index.js"></script>
</head>
<body>
<div class="mywp-wrap">
    <div class="mywp-header clearfix">
        <div class="mywp-logo"><h1><a href="">明阳风电 MINGYANG WIND POWER</a></h1></div>
        <div class="site-menu">
            <div class="nav">
                <div class="overTop"></div>
                <div class="overBottom"></div>
                <a href="./index.html">首页</a>
                <a href="#" class="active">实时监测</a>
                <a href="#">综合分析</a>
                <a href="#">报表管理</a>
                <a href="#">故障告警</a>
                <a href="#">系统配置</a>
            </div>
            <div class="action">
                <a href="#"><span class="mywp-icon icon-admin"></span>您好，管理员</a>
            </div>
            <div class="exitSystem"><a href="#"><span class="mywp-icon icon-exit"></span></a></div>
        </div>
    </div>
    <div class="mywp-main clearfix">

        <!--<div class="mywp-modal2">
            <div class="mbgT"></div>
            <div class="mbgB"></div>
            <div class="mbgL"></div>
            <div class="mbgR"></div>
            <div class="mbgwg">123<Br>
                123<Br>
                123<Br>
                123<Br>
                123<Br>
                123<Br>
            </div>
        </div>-->
        <div class="sub-nav">
            <a href="#" class="active"><span class="mywp-icon icon-ssgl"></span>实时功率</a>
            <a href="#"><span class="mywp-icon icon-sxdy"></span>三项电压</a>
            <a href="#"><span class="mywp-icon icon-sxdl"></span>三项电流</a>
            <a href="#"><span class="mywp-icon icon-jlpl"></span>交流频率</a>
            <a href="#"><span class="mywp-icon icon-glys"></span>功率因数</a>
            <a href="#"><span class="mywp-icon icon-ssdl"></span>实时电量</a>
            <span class="sub-nav-toggle" id="subToggle"></span>
        </div>
        <div class="tmcfbox">
            <div class="container">
                <div class="wrap">
                    dafkladskfaskdlfas啊送到路口附近啊岁的老将路口
                </div>
            </div>
            <div class="tmcf">
                <img src="../res/images/cf.png" alt="">
            </div>
        </div>

    </div>
</div>

</body>
</html>