@charset "UTF-8";
/*global*/
* {
  text-size-adjust: 100%;
  box-sizing: border-box;
  outline: none; }

html, body {
  height: 100%; }

body {
  font-size: 12px; }

body, ul, li, table, tr, td, img, button, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0; }

ul {
  list-style: none; }

a {
  text-decoration: none; }

.clearfix:after, .clearfix:before {
  content: '';
  display: block;
  clear: both; }

/*color*/
/*fontColor*/
/*font*/
/*function*/
/*mixin*/
.mywp-icon {
  display: inline-block;
  background-position-y: center;
  text-indent: 110%;
  white-space: nowrap;
  -webkit-background-size: 100% auto !important;
  background-size: 100% auto !important; }
  .mywp-icon:before {
    content: 'icon';
    color: transparent;
    font-size: 0;
    line-height: 0; }

.icon-admin {
  background-image: url("../images/icon/icon-admin.png");
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat; }

.icon-exit {
  background-image: url("../images/icon/icon-exit.png");
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat; }

.icon-ssgl {
  background-image: url("../images/icon/icon-ssgl.png");
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat; }

.icon-ycgl {
  background-image: url("../images/icon/icon-ycgl.png");
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat; }

.icon-ljnh {
  background-image: url("../images/icon/icon-ljnh.png");
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat; }

.icon-jnxy {
  background-image: url("../images/icon/icon-jnxy.png");
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat; }

.mywp-wrap {
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding-bottom: 0.8rem;
  background-color: #020a11;
  font-family: "微软雅黑";
  background-image: url("../images/bg.png");
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-color: #000108; }

.mywp-logo {
  float: left;
  margin-left: 0.25rem; }
  .mywp-logo h1 {
    line-height: 0.94rem; }
  .mywp-logo a {
    background-image: url("../images/logo.png");
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    -webkit-background-size: 100% auto;
    background-size: 100% auto;
    background-position-y: bottom;
    width: 3.16rem;
    display: block;
    text-indent: 110%;
    overflow: hidden;
    white-space: nowrap; }

.mywp-header {
  width: 100%; }
  .mywp-header .site-menu {
    float: left;
    margin-left: 0.34rem; }
    .mywp-header .site-menu .nav, .mywp-header .site-menu .action, .mywp-header .site-menu .exitSystem {
      float: left; }
    .mywp-header .site-menu .nav {
      padding-left: 0.02rem;
      position: relative;
      display: flex; }
      .mywp-header .site-menu .nav:before, .mywp-header .site-menu .nav:after {
        left: -0.025rem;
        top: 50%;
        transform: translate(50%, -50%);
        -webkit-transform: translate(50%, -50%);
        position: absolute;
        content: '';
        display: block;
        background-color: #87e7ff;
        width: 0.05rem;
        height: 0.2136rem;
        border-radius: 0.02rem; }
      .mywp-header .site-menu .nav:after {
        left: auto;
        right: 0; }
      .mywp-header .site-menu .nav .overTop {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        top: 0;
        background-image: url("../images/navtbg.png");
        -webkit-background-size: 100% 100%;
        background-size: 100% 100%;
        background-repeat: repeat-x;
        width: 11.6rem;
        height: 0.0356rem;
        z-index: 3; }
      .mywp-header .site-menu .nav .overBottom {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 1px;
        background-image: url("../images/navbbg.png");
        -webkit-background-size: 100% 100%;
        background-size: 100% 100%;
        background-repeat: repeat-x;
        width: 11.58rem;
        height: 0.0356rem;
        z-index: 2; }
      .mywp-header .site-menu .nav a {
        position: relative;
        border: 1px solid #00c6ff;
        border-width: 1px 0 1px;
        font-size: 0.26rem;
        width: 1.94rem;
        height: 0.6764rem;
        line-height: 0.6764rem;
        color: #87e7ff;
        display: inline-block;
        text-align: center;
        background-image: url("../images/navrbg.png");
        -webkit-background-size: 100% 100%;
        background-size: 100% 100%;
        background-repeat: repeat-x; }
        .mywp-header .site-menu .nav a:after {
          content: '';
          display: block;
          top: 50%;
          right: 0;
          position: absolute;
          width: 1px;
          height: 0.712rem;
          background-image: url("../images/navdivied.png");
          -webkit-background-size: 100% 100%;
          background-size: 100% 100%;
          background-repeat: no-repeat;
          transform: translateY(-50%); }
        .mywp-header .site-menu .nav a:hover, .mywp-header .site-menu .nav a.active {
          color: #fff;
          background-image: url("../images/navHbg.png");
          -webkit-background-size: 100% 100%;
          background-size: 100% 100%;
          background-repeat: repeat-x; }
        .mywp-header .site-menu .nav a:nth-child(3) {
          border-radius: 10px 0 0 10px;
          border-left-width: 1px; }
        .mywp-header .site-menu .nav a:last-child {
          border-radius: 0 10px 10px 0;
          border-right-width: 1px; }
          .mywp-header .site-menu .nav a:last-child:after {
            display: none; }
    .mywp-header .site-menu .action {
      margin-left: 0.56rem; }
      .mywp-header .site-menu .action a {
        color: #ffffff;
        line-height: 0.8366rem;
        font-size: 0.18rem; }
        .mywp-header .site-menu .action a span {
          width: 0.57rem; }
    .mywp-header .site-menu .exitSystem {
      margin-left: 0.32rem; }
      .mywp-header .site-menu .exitSystem a {
        line-height: 0.8366rem; }
        .mywp-header .site-menu .exitSystem a span {
          width: 0.57rem; }

.mywp-main {
  display: flex; }
  .mywp-main .sub-nav {
    background-image: url("../images/subbg.png");
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 2.74rem;
    height: 6.9598rem;
    margin-top: 0.8rem;
    margin-right: 0.8rem;
    position: relative;
    padding: 1.4rem 0 0 0.15rem; }
    .mywp-main .sub-nav a {
      padding: 0 0.22rem 0 0.28rem;
      background-image: url("../images/subnav.png");
      -webkit-background-size: 100% 100%;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      width: 2.4rem;
      height: 0.89rem;
      display: flex;
      justify-content: space-between;
      font-size: 0.24rem;
      color: #ffffff;
      text-align: right;
      line-height: 0.89rem;
      text-shadow: #009bff 0 0 4px;
      margin-bottom: 0.3rem; }
      .mywp-main .sub-nav a:last-child {
        margin-bottom: 0; }
      .mywp-main .sub-nav a:hover, .mywp-main .sub-nav a.active {
        background-image: url("../images/subnavh.png");
        -webkit-background-size: 100% 100%;
        background-size: 100% 100%;
        background-repeat: no-repeat; }
      .mywp-main .sub-nav a span.icon-ssgl {
        width: 0.7rem; }
      .mywp-main .sub-nav a span.icon-ycgl {
        width: 0.61rem; }
      .mywp-main .sub-nav a span.icon-ljnh {
        width: 0.48rem; }
      .mywp-main .sub-nav a span.icon-jnxy {
        width: 0.5rem; }
    .mywp-main .sub-nav .sub-nav-toggle {
      position: absolute;
      right: -0.43rem;
      top: 50%;
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      display: block;
      background-image: url("../images/subnav_toggle.png");
      -webkit-background-size: 100% 100%;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      width: 0.43rem;
      height: 3.1595rem;
      cursor: pointer; }
  .mywp-main .container {
    flex: 1;
    margin-top: 0.56rem;
    margin-right: 0.7rem;
    background-image: url("../images/containerbg.png");
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 7.4849rem; }
  .mywp-main .mywp-cf {
    width: 100%;
    padding: 0.5rem 1rem;
    text-align: center; }
    .mywp-main .mywp-cf img {
      width: 12.34rem;
      height: 100%; }
  .mywp-main .mywp-cfxt {
    width: 100%;
    padding: 0.5rem 1rem; }
    .mywp-main .mywp-cfxt .cfxtImg {
      position: relative;
      margin: 0 auto;
      width: 11.43rem;
      height: 6.3724rem;
      background-image: url("../images/cfxt.png");
      -webkit-background-size: 100% 100%;
      background-size: 100% 100%;
      background-repeat: no-repeat; }
  .mywp-main span.dot {
    width: 0.18rem;
    height: 0.1602rem;
    display: block;
    border-radius: 50%;
    border: 1px solid #45fff9;
    position: relative; }
    .mywp-main span.dot:before {
      content: '';
      display: block;
      border-radius: 50%;
      width: 100%;
      height: 100%;
      background-color: #45fff9;
      opacity: .5; }
    .mywp-main span.dot:after {
      position: absolute;
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      content: '';
      display: block;
      border-radius: 50%;
      width: 60%;
      height: 60%;
      background-color: #45fff9; }

/*# sourceMappingURL=index.css.map */
