@charset "UTF-8";
/*global*/
* {
  text-size-adjust: 100%;
  box-sizing: border-box;
  outline: none; }

html, body {
  height: 100%; }

body {
  font-size: 12px; }

body, ul, li, table, tr, td, img, button, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0; }

ul {
  list-style: none; }

a {
  text-decoration: none; }

.clearfix:after, .clearfix:before {
  content: '';
  display: block;
  clear: both; }

/*media*/
/*color*/
/*fontColor*/
/*font*/
/*function*/
/*mixin*/
/*通用组件*/
.mywp-modal, .mywp-modal2 {
  position: absolute;
  right: -0.8rem;
  bottom: 0;
  z-index: 9999;
  width: 4.06rem;
  min-height: 3.6rem;
  border-radius: 0.2rem;
  background: -webkit-linear-gradient(bottom, #197cc1 0%, #183a67 25%, #0b0e32 50%, #0e2b56 75%, #1462a2 100%);
  border: 2px solid #00c6ff;
  color: #ffffff;
  font-size: 0.18rem;
  opacity: .98;
  display: none; }
  .mywp-modal .mbgT, .mywp-modal2 .mbgT {
    width: 100%;
    position: absolute;
    top: -2px;
    left: 0;
    background-image: url("../images/modal/mbg.png");
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 1.07rem; }
  .mywp-modal .mbgB, .mywp-modal2 .mbgB {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -2px;
    background-image: url("../images/modal/mbgb.png");
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 0.4rem; }
  .mywp-modal .mbgL, .mywp-modal2 .mbgL {
    width: 0.31rem;
    height: 3rem;
    position: absolute;
    left: -0.12rem;
    top: 50%;
    transform: translateY(-50%);
    background-image: url("../images/modal/mbgL.png");
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat; }
  .mywp-modal .mbgR, .mywp-modal2 .mbgR {
    width: 0.31rem;
    height: 3rem;
    position: absolute;
    right: -0.08rem;
    top: 50%;
    transform: translateY(-50%);
    background-image: url("../images/modal/mbgR.png");
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat; }
  .mywp-modal .mbgwg, .mywp-modal2 .mbgwg {
    min-height: 3.6rem;
    padding: 0.4rem;
    background-image: url("../images/modal/mgbWg.png");
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    background-repeat: repeat-y;
    background-position: center center;
    background-size: 100% auto; }
    .mywp-modal .mbgwg h6, .mywp-modal2 .mbgwg h6 {
      text-align: center;
      font-size: 24px;
      text-align: center;
      color: #ffffff;
      font-weight: normal; }
    .mywp-modal .mbgwg div, .mywp-modal2 .mbgwg div {
      display: flex;
      font-size: 18px;
      padding: 0 0.2rem;
      margin: 0.1rem 0;
      cursor: pointer;
      align-items: center;
      height: 0.4rem;
      justify-content: center; }
      .mywp-modal .mbgwg div span, .mywp-modal2 .mbgwg div span {
        display: block; }
      .mywp-modal .mbgwg div span:first-child, .mywp-modal2 .mbgwg div span:first-child {
        width: 1.2rem; }
      .mywp-modal .mbgwg div span:last-child, .mywp-modal2 .mbgwg div span:last-child {
        flex: 1; }
      .mywp-modal .mbgwg div:hover, .mywp-modal2 .mbgwg div:hover {
        border-radius: 0 0.1rem 0 0.1rem;
        border: 1px solid #48c8f0;
        background: -webkit-linear-gradient(left, #198dbe 0%, transparent 100%); }

.wrap {
  padding: 0.5rem 0.6rem;
  color: #ffffff;
  font-size: 14px; }

.mywp-modal2 {
  width: 8rem; }

input[type="radio"] {
  display: none; }

.radioUi {
  cursor: pointer; }
  .radioUi span {
    position: relative;
    display: inline-block;
    border: 2px solid #fff;
    box-shadow: 0 0 5px #0ab4ff;
    border-radius: 50%;
    width: 0.14rem;
    height: 0.14rem;
    margin-right: 0.06rem; }

.radioChecked span:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 0.06rem;
  height: 0.06rem;
  background-color: #fff;
  border-radius: 50%; }

.selectUi {
  position: relative;
  height: .28rem;
  width: 1.74rem;
  border: 1px solid #00c6ff;
  background-color: #11548b;
  line-height: .28rem;
  color: #fff;
  padding-left: .08rem;
  cursor: pointer;
  display: inline-block; }
  .selectUi em {
    font-style: normal; }
  .selectUi span {
    float: right;
    height: .26rem;
    width: .2rem;
    border: 1px solid #fff;
    display: inline-block;
    text-align: center;
    position: relative;
    vertical-align: middle;
    background: -webkit-linear-gradient(bottom, #0e4675 0%, #0887ba 100%); }
    .selectUi span:before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: inline-block;
      background-image: url("../images/icon/arrowDown.png");
      -webkit-background-size: 100% 100%;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      width: .1rem;
      height: .06rem; }
  .selectUi ul {
    display: none;
    position: absolute;
    top: .28rem;
    left: 0;
    background-color: #0c395e;
    border: 1px solid #fff;
    width: 1.73rem;
    max-height: 1.82rem;
    padding-left: .08rem;
    overflow-y: scroll;
    /*定义滚动条轨道*/
    /*定义滑块*/ }
    .selectUi ul::-webkit-scrollbar {
      width: .21rem; }
    .selectUi ul::-webkit-scrollbar-track {
      background-color: #0c395e; }
    .selectUi ul::-webkit-scrollbar-thumb {
      border: 1px solid #fff;
      border-right: none;
      background-color: #00c6ff; }
    .selectUi ul::-webkit-scrollbar-button:vertical:start {
      border-left: 1px solid #fff;
      border-bottom: 1px solid #fff;
      background-size: 50%;
      height: .18rem;
      background: url("../images/icon/arrowUp.png") center center no-repeat, -webkit-linear-gradient(bottom, #0e4675 0%, #0887ba 100%); }
    .selectUi ul::-webkit-scrollbar-button:vertical:end {
      background-image: url("../images/icon/arrowDown.png");
      -webkit-background-size: 100% 100%;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      border-left: 1px solid #fff;
      background-size: 50%;
      border-top: 1px solid #fff;
      height: .18rem;
      background: url("../images/icon/arrowDown.png") center center no-repeat, -webkit-linear-gradient(bottom, #0e4675 0%, #0887ba 100%); }

.mywp-icon {
  display: inline-block;
  background-position-y: center;
  text-indent: 110%;
  white-space: nowrap;
  -webkit-background-size: 100% auto !important;
  background-size: 100% auto !important; }
  .mywp-icon:before {
    content: 'icon';
    color: transparent;
    font-size: 0;
    line-height: 0; }

.icon-admin {
  background-image: url("../images/icon/icon-admin.png");
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat; }

.icon-exit {
  background-image: url("../images/icon/icon-exit.png");
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat; }

.icon-ssgl {
  background-image: url("../images/icon/icon-ssgl.png");
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat; }

.icon-ycgl {
  background-image: url("../images/icon/icon-ycgl.png");
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat; }

.icon-ljnh {
  background-image: url("../images/icon/icon-ljnh.png");
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat; }

.icon-jnxy {
  background-image: url("../images/icon/icon-jnxy.png");
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat; }

.icon-sxdy {
  background-image: url("../images/icon/icon-sxdy.png");
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat; }

.icon-sxdl {
  background-image: url("../images/icon/icon-sxdl.png");
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat; }

.icon-jlpl {
  background-image: url("../images/icon/icon-jlpl.png");
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat; }

.icon-glys {
  background-image: url("../images/icon/icon-glys.png");
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat; }

.icon-ssdl {
  background-image: url("../images/icon/icon-ssdl.png");
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat; }

.icon-ydfhb {
  background-image: url("../images/icon/icon-ydfhb.png");
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat; }

.icon-ydltjb {
  background-image: url("../images/icon/icon-ydltjb.png");
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat; }

.icon-ydcbfx {
  background-image: url("../images/icon/icon-ydcbfx.png");
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat; }

.icon-tbfxb {
  background-image: url("../images/icon/icon-tbfxb.png");
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat; }

.icon-hbfxb {
  background-image: url("../images/icon/icon-hbfxb.png");
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat; }

.icon-gzfxb {
  background-image: url("../images/icon/icon-gzfxb.png");
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat; }

.icon-ssdl {
  background-image: url("../images/icon/icon-ssdl.png");
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat; }

.mywp-wrap {
  width: 100%;
  padding-bottom: 0.89rem;
  background-color: #020a11;
  font-family: "微软雅黑";
  background-image: url("../images/bg.png");
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  transform-origin: left top;
  -webkit-transform-origin: left top;
  background-color: #000108; }

.mywp-logo {
  float: left;
  margin-left: 0.25rem; }
  .mywp-logo h1 {
    line-height: 0.94rem; }
  .mywp-logo a {
    background-image: url("../images/logo.png");
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    -webkit-background-size: 100% auto;
    background-size: 100% auto;
    background-position-y: bottom;
    width: 3.16rem;
    display: block;
    text-indent: 110%;
    overflow: hidden;
    white-space: nowrap; }

#build-inf {
  margin-left: 1.52rem;
  margin-top: 0.1rem;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10; }

#build-tops {
  width: 12.34rem;
  margin: 0 auto;
  position: relative; }

.build1 {
  position: absolute;
  display: none; }

.build2 {
  position: absolute;
  display: none; }

.build3 {
  position: absolute;
  display: none; }

.build4 {
  position: absolute;
  display: none; }

.build5 {
  position: absolute;
  display: none; }

.build6 {
  position: absolute;
  display: none; }

.build7 {
  position: absolute;
  display: none; }

.build1 {
  background-image: url("../images/build/build1.png");
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 3.78rem;
  height: 2.82rem;
  left: 7.75rem;
  top: 1.08rem; }

.build2 {
  background-image: url("../images/build/build2.png");
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 2.56rem;
  height: 2.04rem;
  left: 7.16rem;
  top: 0rem; }

.build3 {
  background-image: url("../images/build/build3.png");
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 2.54rem;
  height: 2.15rem;
  left: 4.72rem;
  top: 3.66rem; }

.build4 {
  background-image: url("../images/build/build4.png");
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 1.62rem;
  height: 1.69rem;
  left: 6.8rem;
  top: 3.3rem; }

.build5 {
  background-image: url("../images/build/build5.png");
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 3.36rem;
  height: 2.3rem;
  left: 3.48rem;
  top: 1.56rem; }

.build6 {
  background-image: url("../images/build/build6.png");
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 3.72rem;
  height: 2.59rem;
  left: 1.42rem;
  top: 2.38rem; }

.build7 {
  background-image: url("../images/build/build7.png");
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 2.4rem;
  height: 1.45rem;
  left: 1.96rem;
  top: 2.74rem; }

.mywp-header {
  width: 100%; }
  .mywp-header .site-menu {
    float: left;
    margin-left: 0.34rem; }
    .mywp-header .site-menu .nav, .mywp-header .site-menu .action, .mywp-header .site-menu .exitSystem {
      float: left; }
    .mywp-header .site-menu .nav {
      padding-left: 0.02rem;
      position: relative;
      display: flex; }
      .mywp-header .site-menu .nav:before, .mywp-header .site-menu .nav:after {
        left: -0.025rem;
        top: 50%;
        transform: translate(50%, -50%);
        -webkit-transform: translate(50%, -50%);
        position: absolute;
        content: '';
        display: block;
        background-color: #87e7ff;
        width: 0.05rem;
        height: 0.24rem;
        border-radius: 0.02rem; }
      .mywp-header .site-menu .nav:after {
        left: auto;
        right: 0; }
      .mywp-header .site-menu .nav .overTop {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        top: 0;
        background-image: url("../images/navtbg.png");
        -webkit-background-size: 100% 100%;
        background-size: 100% 100%;
        background-repeat: repeat-x;
        width: 11.6rem;
        height: 0.04rem;
        z-index: 3; }
      .mywp-header .site-menu .nav .overBottom {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 1px;
        background-image: url("../images/navbbg.png");
        -webkit-background-size: 100% 100%;
        background-size: 100% 100%;
        background-repeat: repeat-x;
        width: 11.58rem;
        height: 0.04rem;
        z-index: 2; }
      .mywp-header .site-menu .nav a {
        position: relative;
        border: 1px solid #00c6ff;
        border-width: 1px 0 1px;
        font-size: 0.26rem;
        width: 1.94rem;
        height: 0.76rem;
        line-height: 0.76rem;
        color: #87e7ff;
        display: inline-block;
        text-align: center;
        background-image: url("../images/navrbg.png");
        -webkit-background-size: 100% 100%;
        background-size: 100% 100%;
        background-repeat: repeat-x; }
        .mywp-header .site-menu .nav a:after {
          content: '';
          display: block;
          top: 50%;
          right: 0;
          position: absolute;
          width: 1px;
          height: 0.8rem;
          background-image: url("../images/navdivied.png");
          -webkit-background-size: 100% 100%;
          background-size: 100% 100%;
          background-repeat: no-repeat;
          transform: translateY(-50%); }
        .mywp-header .site-menu .nav a:hover, .mywp-header .site-menu .nav a.active {
          color: #fff;
          background-image: url("../images/navHbg.png");
          -webkit-background-size: 100% 100%;
          background-size: 100% 100%;
          background-repeat: repeat-x; }
        .mywp-header .site-menu .nav a:nth-child(3) {
          border-radius: 10px 0 0 10px;
          border-left-width: 1px; }
        .mywp-header .site-menu .nav a:last-child {
          border-radius: 0 10px 10px 0;
          border-right-width: 1px; }
          .mywp-header .site-menu .nav a:last-child:after {
            display: none; }
    .mywp-header .site-menu .action {
      margin-left: 0.56rem; }
      .mywp-header .site-menu .action a {
        color: #ffffff;
        line-height: 0.94rem;
        font-size: 0.18rem; }
        .mywp-header .site-menu .action a span {
          width: 0.57rem; }
    .mywp-header .site-menu .exitSystem {
      margin-left: 0.32rem; }
      .mywp-header .site-menu .exitSystem a {
        line-height: 0.94rem; }
        .mywp-header .site-menu .exitSystem a span {
          width: 0.57rem; }

.mywp-main {
  display: flex; }
  .mywp-main .sub-nav {
    background-image: url("../images/subbg.png");
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 2.74rem;
    height: 7.82rem;
    margin-top: 0.8rem;
    margin-right: 0.8rem;
    position: relative;
    padding: 0 0.15rem;
    display: flex;
    align-content: center;
    flex-wrap: wrap; }
    .mywp-main .sub-nav a {
      padding: 0 0.22rem 0 0.28rem;
      background-image: url("../images/subnav.png");
      -webkit-background-size: 100% 100%;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      width: 2.4rem;
      height: 1rem;
      display: flex;
      justify-content: space-between;
      font-size: 0.24rem;
      color: #ffffff;
      text-align: right;
      line-height: 1rem;
      text-shadow: #009bff 0 0 4px;
      margin-bottom: 0.3rem; }
      .mywp-main .sub-nav a:nth-last-of-type(1) {
        margin-bottom: 0; }
      .mywp-main .sub-nav a:hover, .mywp-main .sub-nav a.active {
        background-image: url("../images/subnavh.png");
        -webkit-background-size: 100% 100%;
        background-size: 100% 100%;
        background-repeat: no-repeat; }
      .mywp-main .sub-nav a span.icon-ssgl {
        width: 0.7rem; }
      .mywp-main .sub-nav a span.icon-ycgl {
        width: 0.61rem; }
      .mywp-main .sub-nav a span.icon-ljnh {
        width: 0.48rem; }
      .mywp-main .sub-nav a span.icon-jnxy {
        width: 0.5rem; }
      .mywp-main .sub-nav a span.icon-sxdy {
        width: 0.6rem; }
      .mywp-main .sub-nav a span.icon-sxdl {
        width: 0.71rem;
        margin-left: -0.04rem; }
      .mywp-main .sub-nav a span.icon-jlpl {
        width: 0.6rem; }
      .mywp-main .sub-nav a span.icon-glys {
        width: 0.59rem; }
      .mywp-main .sub-nav a span.icon-ssdl {
        width: 0.69rem; }
      .mywp-main .sub-nav a span.icon-ydfhb {
        width: 0.43rem; }
      .mywp-main .sub-nav a span.icon-ydltjb {
        width: 0.46rem; }
      .mywp-main .sub-nav a span.icon-ydcbfx {
        width: 0.55rem; }
      .mywp-main .sub-nav a span.icon-tbfxb {
        width: 0.55rem; }
      .mywp-main .sub-nav a span.icon-hbfxb {
        width: 0.57rem; }
      .mywp-main .sub-nav a span.icon-gzfxb {
        width: 0.45rem; }
    .mywp-main .sub-nav .sub-nav-toggle {
      position: absolute;
      right: -0.43rem;
      top: 50%;
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      display: block;
      background-image: url("../images/subnav_toggle.png");
      -webkit-background-size: 100% 100%;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      width: 0.43rem;
      height: 3.55rem;
      cursor: pointer; }
  .mywp-main .container {
    flex: 1;
    margin-top: 0.56rem;
    margin-right: 0.7rem;
    background-image: url("../images/containerbg.png");
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 8.41rem; }
  .mywp-main .mywp-cf {
    width: 100%;
    padding: 0.5rem 1rem;
    text-align: center; }
    .mywp-main .mywp-cf img {
      width: 12.34rem;
      height: 100%; }
  .mywp-main .mywp-cfxt {
    display: none;
    width: 100%;
    padding: 0.5rem 1rem; }
    .mywp-main .mywp-cfxt .cfxtImg {
      position: relative;
      margin: 0 auto;
      width: 11.43rem;
      height: 7.16rem;
      background-image: url("../images/cfxt.png");
      -webkit-background-size: 100% 100%;
      background-size: 100% 100%;
      background-repeat: no-repeat; }
  .mywp-main .men {
    width: 1100px;
    margin: 20px auto 0;
    padding-right: 50px;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    color: #00c6ff; }
  .mywp-main span.dot {
    width: 0.18rem;
    height: 0.18rem;
    display: block;
    border-radius: 50%;
    border: 1px solid #45fff9;
    position: relative; }
    .mywp-main span.dot:before {
      content: '';
      display: block;
      border-radius: 50%;
      width: 100%;
      height: 100%;
      background-color: #45fff9;
      opacity: .5; }
    .mywp-main span.dot:after {
      position: absolute;
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      content: '';
      display: block;
      border-radius: 50%;
      width: 60%;
      height: 60%;
      background-color: #45fff9; }
  .mywp-main .tmcfbox {
    position: relative;
    width: 100%; }
    .mywp-main .tmcfbox .tmcf {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: -2;
      opacity: .2; }

/*# sourceMappingURL=index.css.map */
