@charset "utf-8";
/*global*/
* {
  text-size-adjust: 100%;
  box-sizing: border-box;
  outline: none;
}

html, body {
  height: 100%;
}

body {
  font-size: 12px;
}

body, ul, li, table, tr, td, img, button, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.clearfix {
  &:after, &:before {
    content: '';
    display: block;
    clear: both;
  }
}

/*media*/
$scaleHeight: 1;
$baseHeight: 1080;
@media screen and (max-height: 1475px) {
  $scaleHeight: $baseHeight / 1080
}

$url: '../images/';
$url-icon: '../images/icon/';
$build: '../images/build/';
$id: '.mywp-';
$baseFont: 100px;

/*color*/
$bg: #020a11;

/*fontColor*/
$nav-font: #87e7ff;
$nav-fontHover: #fff;

/*font*/
$wryh: '微软雅黑';
/*function*/

/*mixin*/
@mixin bgs($url,$repeat:false,$direction:y) {
  background-image: url($url);
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  @if not($repeat) {
    background-repeat: no-repeat;
  } @else {
    background-repeat: repeat-+$direction;
  }
}

@function p2r($pixel) {
  @if unitless($pixel) {
    $pixel: $pixel *1px;
  }
  @return $pixel/$baseFont * 1rem;
}

/*通用组件*/
#{$id}modal, #{$id}modal2 {
  position: absolute;
  right: p2r(-80);
  bottom: 0;
  z-index: 9999;
  width: p2r(406);
  min-height: p2r(360);
  border-radius: p2r(20);
  background: -webkit-linear-gradient(bottom, #197cc1 0%, #183a67 25%, #0b0e32 50%, #0e2b56 75%, #1462a2 100%);
  border: 2px solid #00c6ff;
  color: #ffffff;
  font-size: p2r(18);
  opacity: .98;
  display: none;
  .mbgT {
    width: 100%;
    position: absolute;
    top: -2px;
    left: 0;
    border-radius:p2r(20) p2r(20) 0 0;
    @include bgs($url+'modal/mbg.png');
    height: p2r(107);
    z-index: -1;
  }
  .mbgB {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -2px;
    border-radius: 0 0 p2r(20) p2r(20);
    @include bgs($url+'modal/mbgb.png');
    height: p2r(40);
  }
  .mbgL {
    width: p2r(31);
    height: p2r(300);
    position: absolute;
    left: p2r(-12);
    top: 50%;
    transform: translateY(-50%);
    @include bgs($url+'modal/mbgL.png');
  }
  .mbgR {
    width: p2r(31);
    height: p2r(300);
    position: absolute;
    right: p2r(-8);
    top: 50%;
    transform: translateY(-50%);
    @include bgs($url+'modal/mbgR.png');
  }
  .mbgwg {
    min-height: p2r(360);
    padding: p2r(40);
    @include bgs($url+'modal/mgbWg.png', true, y);
    background-position: center center;
    background-size: 100% auto;
    h6 {
      text-align: center;
      font-size: 24px;
      text-align: center;
      color: #ffffff;
      font-weight: normal;
    }
    div {
      display: flex;
      font-size: 18px;
      padding: p2r(5) p2r(20);
      margin: p2r(10) 0;
      cursor: pointer;
      justify-content: center;
      border:1px solid transparent;
      span {
        display: block;
      }
      span:first-child {
        width: p2r(120);
      }
      span:last-child{
        flex: 1;
      }
      &:hover {
        border-radius: 0 p2r(10) 0 p2r(10);
        border: 1px solid #48c8f0;
        background: -webkit-linear-gradient(left, #198dbe 0%,transparent 100%);
      }
    }
  }
}
.wrap{
  padding: p2r(50) p2r(60);
  color: #ffffff;
  font-size: 14px;
}

#{$id}modal2 {
  left: p2r(80);
  width: p2r(666);
  height: auto;
  .mbgT {
    border-radius:p2r(20) p2r(20) 0 0;
    @include bgs($url+'modal/mbg2.png');
  }
  .mbgB {
    border-radius: 0 0 p2r(20) p2r(20);
    @include bgs($url+'modal/mbgb2.png');
  }
  .mbgwg {
    min-height: p2r(395);
    @include bgs($url+'modal/mgbWg2.png', true, y);
    background-size: 100% auto;
    div{
      margin: 0;
    }
    span:first-child {
      width: auto!important;
    }
  }
}

//单选
input[type="radio"] {
  display: none;
}
.radioUi{
  cursor: pointer;
  span{
    position: relative;
    display: inline-block;
    border:2px solid #fff;
    box-shadow:0 0 5px #0ab4ff;
    border-radius: 50%;
    width:p2r(14);
    height:p2r(14);
    margin-right:p2r(6);
  }
}

.radioChecked{
  span{
    &:before{
      content: '';
      position: absolute;
      top:50%;
      left:50%;
      transform: translate(-50%,-50%);
      display: block;
      width: p2r(6);
      height: p2r(6);
      background-color: #fff;
      border-radius: 50%;
    }
  }
}

.selectUi{
  position: relative;
  height: .28rem;
  width:1.74rem;
  border:1px solid #00c6ff;
  background-color: #11548b;
  line-height:.28rem;
  color: #fff;
  padding-left:.08rem;
  cursor: pointer;
  display: inline-block;
  em{
    font-style: normal;
  }
  span{
    float:right;
    height:.26rem;
    width:.2rem;
    border:1px solid #fff;
    display: inline-block;
    text-align: center;
    position: relative;
    vertical-align: middle;
    background: -webkit-linear-gradient(bottom, #0e4675 0%,#0887ba 100%);
    &:before{
      content: '';
      position: absolute;
      top:50%;
      left:50%;
      transform: translate(-50%,-50%);
      display: inline-block;
      @include bgs($url+'icon/arrowDown.png');
      width: .1rem;
      height: .06rem;
    }
  }
  ul{
    display: none;
    position: absolute;
    top:.28rem;
    left:0;
    background-color: #0c395e;
    border:1px solid #fff;
    width:1.73rem;
    max-height: 1.82rem;
    padding-left:.08rem;
    overflow-y: scroll;

    &::-webkit-scrollbar
    {
      width: .21rem;
    }

    /*定义滚动条轨道*/
    &::-webkit-scrollbar-track
    {
      //border-left:1px solid #fff;
      background-color: #0c395e;
    }

    /*定义滑块*/
    &::-webkit-scrollbar-thumb
    {
      border:1px solid #fff;
      border-right:none;
      background-color: #00c6ff;
    }
    &::-webkit-scrollbar-button:vertical:start{
      //@include bgs($url+'icon/arrowUp.png');
      border-left:1px solid #fff;
      border-bottom:1px solid #fff;
      background-size:50%;
      height:.18rem;
      background:url($url+'icon/arrowUp.png') center center no-repeat,-webkit-linear-gradient(bottom, #0e4675 0%,#0887ba 100%);
    }
    &::-webkit-scrollbar-button:vertical:end{
      @include bgs($url+'icon/arrowDown.png');
      border-left:1px solid #fff;
      background-size:50%;
      border-top:1px solid #fff;
      height:.18rem;
      background:url($url+'icon/arrowDown.png') center center no-repeat,-webkit-linear-gradient(bottom, #0e4675 0%,#0887ba 100%);
    }
  }
}

