#{$id}icon {
  display: inline-block;
  background-position-y: center;
  text-indent: 110%;
  white-space: nowrap;
  -webkit-background-size: 100% auto!important;
  background-size: 100% auto!important;
  &:before {
    content: 'icon';
    color: transparent;
    font-size: 0;
    line-height: 0;
  }
}

.icon-admin {
  @include bgs($url-icon+'icon-admin.png');
}

.icon-exit {
  @include bgs($url-icon+'icon-exit.png');
}

.icon-ssgl {
  @include bgs($url-icon+'icon-ssgl.png');
}

.icon-ycgl {
  @include bgs($url-icon+'icon-ycgl.png');
}

.icon-ljnh {
  @include bgs($url-icon+'icon-ljnh.png');
}

.icon-jnxy {
  @include bgs($url-icon+'icon-jnxy.png');
}

.icon-sxdy {
  @include bgs($url-icon+'icon-sxdy.png');
}

.icon-sxdl {
  @include bgs($url-icon+'icon-sxdl.png');
}

  .icon-jlpl {
  @include bgs($url-icon+'icon-jlpl.png');
}

.icon-glys {
  @include bgs($url-icon+'icon-glys.png');
}

.icon-ssdl {
  @include bgs($url-icon+'icon-ssdl.png');
}

.icon-ydfhb {
  @include bgs($url-icon+'icon-ydfhb.png');
}

.icon-ydltjb {
  @include bgs($url-icon+'icon-ydltjb.png');
}

.icon-ydcbfx {
  @include bgs($url-icon+'icon-ydcbfx.png');
}

.icon-tbfxb {
  @include bgs($url-icon+'icon-tbfxb.png');
}

.icon-hbfxb {
  @include bgs($url-icon+'icon-hbfxb.png');
}

.icon-gzfxb {
  @include bgs($url-icon+'icon-gzfxb.png');
}

.icon-ssdl {
  @include bgs($url-icon+'icon-ssdl.png');
}